!!!
%html{:lang => 'eng'}
    %head
        %meta{:charset => 'utf-8'}
        %title= title
        = css 'defaults'
        = js  'defaults'
        /[if lte IE 8]
            = js 'html5'
    %body(class='mal')
        = yield
        = ga_tracking

